#Superphy

#Applications
db
blast
!python_package/uploader/data/blast

ontology/setup.ttl

#Debugging email log
email.log

#######################
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
/semantic_superphy.iml
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# SQLite databases
*.sqlite
*.sqlite-journal

# Blazegraph databases
blazegraph.jnl
rules.log

# Virtual environment
venv/*
!venv/lib
!venv/requirements.txt
!venv/npm-requirements.txt
venv/lib/*
!venv/lib/python2.7
venv/lib/python2.7/*
!venv/lib/python2.7/site-packages/
venv/lib/python2.7/site-packages/*
!venv/lib/python2.7/site-packages/superphy

#Temporary Files
python_package/uploader/outputs/errors.txt
app/static/css/all.min.css
app/static/js/all.min.js

#Pycharm files
.idea/*