#Superphy


# Virtual environment
venv/*
**/venv/*
!venv/lib
!venv/requirements.txt
!venv/npm-requirements.txt
venv/lib/*
!venv/lib/python2.7
venv/lib/python2.7/*
!venv/lib/python2.7/site-packages/
venv/lib/python2.7/site-packages/*
!venv/lib/python2.7/site-packages/superphy



config/*
!config/default.cfg

*.sqlite


blast/*

#######################
*.py[cod]

#Temporary Files
python_package/uploader/outputs/errors.txt
all.min.css
all.min.js

superphy/src/upload/ontology/setup.ttl

superphy/src/upload/python/outputs/*
superphy/src/upload/python/tmp/
superphy/src/upload/python/tmp/*
superphy/src/upload/python/samples/*

## Gene and genome analysis (database files)
superphy/src/upload/python/release-rgi-v3.0.1/*
superphy/src/upload/python/*.[np]hr
superphy/src/upload/python/*.[np]in
superphy/src/upload/python/*.[np]sq
superphy/src/upload/python/*.fsa

superphy/src/app/mithril/css/*
superphy/src/app/mithril/bower_components
superphy/src/app/mithril/js/mithril.js
superphy/posted_files/*