<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SuperPhy</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/all.min.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/select2.min.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome-4.5.0/css/font-awesome.min.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/superphy_icon_paths.svg') }}" type="image/svg"/>
    
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
</head>
<body>
<script src="{{ url_for('static', filename='js/d3/d3.min.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/selectize.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bower_components/mithril-components/components/utils/mcUtils.js') }}"></script>
<script src="{{ url_for('static', filename='js/bower_components/mithril-components/components/tabs/tabs.js') }}"></script>
<!--<script src="{{ url_for('static', filename='js/mithril.min.js') }}"></script>-->
<script src="{{ url_for('static', filename='js/mithril.js') }}"></script>
<script src="{{ url_for('static', filename='js/superphy.js') }}"></script>
<div id="test">SUPERPHY</div>
</body>
</html>
